html,
body{
  width: 100%;height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black{background: #333}
.grey{background: #CCCCCCFF}
.white{background: #EEE}
.cyan{background: #9ed0d9}
.blue{background: #0086d9}

#board button{
  border: none;
  transition: .1s ease-in-out;
}
button:hover{opacity: .8}
button:focus,
button.active{box-shadow: inset 0 0 10px 0 #000;opacity: .8}

#menu{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

#menu button{
  border: 1px solid #333;
  background: #333;
  font-size: 2em;
  color: #FFF;
  font-family: "BankGothic Md BT";
  width: 30%;
  height: 5em;
  margin: 1px;
}

#exit{
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 1.4em;
  font-family: "BankGothic Md BT";
  padding:10px 20px;
  border-radius: 40px;
  transition: .2s ease-in-out;
}
#exit:hover{
  opacity: 1;
  background: #222;
  color: #FFF;
}

.tile {
  border: 1px solid lightgray !important;
  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-selected {
  background-color: gray;
}

.tile-start {
  background-color: whitesmoke;
}

.horizontal-line {
  border-bottom: 1px solid black !important;
}

.vertical-line {
  border-right: 1px solid black !important;
}
