html,
body{
  width: 100%;height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black{background: #333}
.grey{background: #CCCCCCFF}
.white{background: #EEE}
.cyan{background: #9ed0d9}
.blue{background: #0086d9}

button{
  border: none;
  transition: .1s ease-in-out;
}
button:hover{opacity: .8}
button:focus,
button.active{box-shadow: inset 0 0 10px 0 #333;}
